<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Update Record</title>
	</head>
	<body>
		<h1>Update Student Record</h1>
		<form action="#" th:action="@{/update/{id}(id=${recordDetails.id})}" method="post">
		    <label>Name:</label>
		    <input type="text" name="name" th:value="${recordDetails.name}" required /><br/>
		    <label>Class:</label>
		    <input type="number" name="classGrade" th:value="${recordDetails.classGrade}" min="1" max="10" required /><br/>
		    <label>Age:</label>
		    <input type="number" name="age" th:value="${recordDetails.age}" min="4" max="17" required /><br/>
		    <input type="submit" value="Update" />
		</form>
	</body>
</html>