body{
	background-color: wheat;
}

h2 {
	text-align: center;
}

button {
	margin-left: auto;
}

#popup {
	background-color: aqua;
	text-align: center;
	width: 400px;
	height: 200px;
	border: 2px solid black;
	border-radius: 10px;
	visibility: hidden;
	position: absolute;
	left: 40%;
	top: 40%;
}