<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Delete Product</title>
	</head>
	<body>
		<h1>Delete Mobile</h1>
		<p>Are you sure you want to delete <span th:text="${productDetails.name}"></span>?</p>
		<form action="#" th:action="@{/delete/{id}(id=${productDetails.id})}" method="post">
		    <input type="text" name="name" th:value="${productDetails.name}" readonly/>
		    <input type="submit" value="Delete" />
		</form>
		<a href="/all">Cancel</a>
	</body>
</html>