<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Membership registration</title>
		<link rel="stylesheet" href="css/styles.css">
	</head>
	<body>
		<header>Zen Library</header>
		<h1>Register as a new member</h1>
		<form th:action="@{/registration}" method="post">
			<label>Name:
				<input type="text" name="username" required>
			</label>
			<label>Date of Birth:
				<input type="date" name="dob" required>
			</label>
			<label>Address:
				<input type="text" name="address" required>
			</label>
			<label>Email:
				<input type="email" name="email" required>
			</label>
			<label>Password:
				<input type="password" name="password" required>
			</label>
			<button type="submit">Register</button>
		</form>
		<footer>Copyright</footer>
	</body>
</html>