body {
	background-color: lightgreen;
	padding-block: 20%;
}
h1 {
	text-align: center;
	font-size: large;
	font-weight: bold;
	color: darkgrey;
	border: 2px solid black;
	border-radius: 5px;
	box-shadow: 4px;
	font-family: "Trirong", serif;
	width: 400px;
	margin-inline: auto;
}
h1:hover {
	background-color: aquamarine;
}