<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Edit Bookmark</title>
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body>
		<nav><ul>
			<li><a href="/">Home</a> </li>
			<li><a href="/logout">Logout</a> </li>
		</ul></nav>
		<h1 class="editConfirm">Update Product</h1>
		<form action="#" th:action="@{/update/{id}(id=${bookmark.id})}" method="post" class="editForm">
		    <label>Name:</label>
		    <input type="text" name="title" th:value="${bookmark.title}" required />
		    <label>Description:</label>
		    <input type="text" name="savedURL" th:value="${bookmark.savedURL}" required />
		    <label>Expiry Date:</label>
		    <input type="submit" value="Update" />
		</form>
		<a href="/profile" class="cancelLink">Cancel</a>
		<footer>Copyright</footer>
	</body>
</html>