<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <div class="message" th:if="${param.error}">
       Invalid Username or Password
    </div>
    <div class="message" th:if="${param.logout}">
       Logged out Successfuly
    </div>
	<h2>Login Page</h2>
    <form th:action="@{/login}" method="post">
        <label>Email:
        	<input  type="email" name="username" placeholder="Enter your email" required>
		</label>
        <label>Password:
        	<input  type="password" id="password" name="password" placeholder="Enter your password" required>
		</label>
        <input type="submit" value="Login">
    </form>
</body>
</html>